script.
  (function (){
    'use strict';

    var mapInitial = "#{_mapInitial}".split(/,\s*/).map(parseFloat);
    var mapGeoJson = (function (g) {return g||null;})(!{_mapGeoJson});

    var map = L.map('map').setView(mapInitial, 11);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
      minZoom: 9,
      maxZoom: 15,
    }).addTo(map);

    if (mapGeoJson) {
      L.geoJson(mapGeoJson).addTo(map);
    }
  }());
