extends _layout

block content
  h2.guide-name #{name}

  h4.text-right
    ul.list-inline
      li Маршруты:
      li: a(href='/route/север') На север
      li &mdash;
      li: a(href='/route/запад') На запад
      li &mdash;
      li: a(href='/route/вверх') Вверх

block content-local
  .container
    img.img-rounded.pull-left.guide-portrait(src='/assets/chuck.jpg')

    include _lorem

  .container.text-center
    hr

    button.btn.btn-info Вопросы гиду
