extends layout

block content
  h2 Наши гиды

block content-local
  .content.guide-main
    .row
      .col-md-3.text-center.guide-info
        img.img-thumbnail(src='/chuck.jpg')
        div: a(href='/guide/андрей') Андрей
      .col-md-3.text-center.guide-info
        img.img-thumbnail(src='/chuck.jpg')
        div: a(href='/guide/борян') Борян
      .col-md-3.text-center.guide-info
        img.img-thumbnail(src='/chuck.jpg')
        div: a(href='/guide/валентин') Валентин
      .col-md-3.text-center.guide-info
        img.img-thumbnail(src='/chuck.jpg')
        div: a(href='/guide/гиппократ') Гиппократ
