extends _layout

block title
  title #{guide.name} &mdash; Пхукет на мотобайках / Phuket Scooter Travel

block content
  div.article-travel-content!= _markdown(guide.content)

  button.btn.btn-info Вопросы гиду
