extends _layout

block content
  h1.text-center PHUKET MOTO FRIENDS

block content-local
  .container.text-center
    hr
    i#bike.fa.fa-motorcycle.fa-5x

  .container
    hr
    .row
      .col-md-6
        include _lorem
      .col-md-6
        include _lorem
