extends _layout

block content
  h2.route-name #{name}

  img#islandmap.pull-right(src='/map-phuket.jpg')

  include _lorem

  h3(style={'margin-top':'2em'})
    a(href='/travel')
      button.btn.btn-success: i.fa.fa-hand-o-right &nbsp;&nbsp;Принять участие
