extends layout

block content
  h2 Маршруты поездок

  ul.fa-ul
    li
      i.fa-li.fa.fa-chevron-circle-right
      a(href='/route/north') На север
    li
      i.fa-li.fa.fa-chevron-circle-right
      a(href='/route/south') На юг
    li
      i.fa-li.fa.fa-chevron-circle-right
      a(href='/route/west') На запад
    li
      i.fa-li.fa.fa-chevron-circle-right
      a(href='/route/east') На восток
    li
      i.fa-li.fa.fa-chevron-circle-right
      a(href='/route/up') Вверх
    li
      i.fa-li.fa.fa-chevron-circle-right
      a(href='/route/down') Вниз
