.container.text-right
  button.btn.btn-success(ngf-select, ngf-multiple='true', ng-disabled='uploading', ngf-change='upload($files)') #[i.fa.fa-4x.fa-spinner.fa-pulse(ng-show='uploading')] Загрузить

.container
  table.table
    thead
      th Preview
      th Filename
      th Content-type
      th Size
    tbody
      tr(ng-repeat='(name, data) in guide._attachments')
        td: img.attachment-preview(ng-src='{{ attachmentUrl(name) }}')
        td: a(ng-href='{{ attachmentUrl(name) }}', target='_blank') {{ name }}
        td {{ data.content_type }}
        td {{ data.length }}
