
#bike:hover {
	-webkit-transition: all 1s ease;
	-webkit-transform: rotate(360deg);
}

#islandmap {
	max-height: 400px;
	margin: 0 0 2em 2em;
}

.guide-row {
	margin-bottom: 1em;
}

.guide-info a {
	text-transform: uppercase;
	font-size: 18pt;
}

.guide-name {
	text-transform: capitalize;
}

.guide-portrait {
	margin: 0 2em 2em 0;
}

.route-name {
	text-transform: capitalize;
	font-style: italic;
}
